<div id="crud">
    <table class="table table-condensed table-striped" ng-table>
        <thead>
        <tr>
            <th ng-repeat="key in listConfig.order" ng-class="key" ng-style="{'width': listConfig.columns[key].width}">
                <span ng_bind="listConfig.columns[key].label"></span>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in objects" ng-dblclick="task.edit()">
                <td ng-repeat="key in listConfig.order">
                    <span ng-if="!task.editing" ng-bind="task[key]"></span>
                    <input ng-if="task.editing" ng-model="task[key]" ng-enter="task.stopEditing()">
                </td>
            </tr>
        </tbody>
    </table>
</div>
