<div id="crud">
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th ng-repeat="key in listConfig.order" ng-class="key" ng-style="{'width': listConfig.columns[key].width}">
                <span ng_bind="listConfig.columns[key].label"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in objects">
            <td ng-repeat="key in listConfig.order">
                <span ng-bind="task[key]"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>



<!--<div id="crud">-->
    <!--<table class="table table-condensed table-striped">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th ng-repeat="key in listConfig.columns.order" ng-class="key" ng-style="{'width': listConfig.columns[key].width}" >-->
                <!--<span ng_bind="listConfig.columns[key].label"></span>-->
            <!--</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="task in objects">-->
            <!--<td ng-repeat="key in listConfig.columns.order">-->
                <!--<span ng-bind="task[key]"></span>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->

